<div class="screen-hacking">
  <div class="hack-header">
    <div class="term-bold">SECURITY PROTOCOL v4.7 - TERMLINK ACTIVE</div>
    <div class="term-dim">{{localize "ITERM.Hacking.EnterPassword"}}</div>
    <div class="hack-attempts">
      {{localize "ITERM.Hacking.AttemptsLeft"}}:
      <span class="hack-attempts-left">{{attemptsLeft}}/{{maxAttempts}}</span>
      <span class="hack-attempts-blocks">
        {{#each attemptBlocks}}
        <span class="hack-attempt-block active">&#x2588;</span>
        {{/each}}
      </span>
    </div>
  </div>

  <div class="hack-main">
    <div class="hack-grid">
      {{!-- Hex dump grid injected by JS --}}
    </div>
    <div class="hack-output">
      {{!-- Attempt results shown here --}}
    </div>
  </div>

  {{#if solved}}
  <div class="hack-result term-success term-glow">
    {{localize "ITERM.Hacking.AccessGranted"}}
  </div>
  {{/if}}

  {{#if locked}}
  <div class="hack-result term-error term-glow">
    {{localize "ITERM.Hacking.Locked"}}
  </div>
  {{/if}}
</div>
